@import url('__title/form__title.css');
@import url('__input-text/form__input-text.css');
@import url('__input-text/_type/form__input-text_type_error.css');
@import url('__input-error/form__input-error.css');
@import url('__input-error/_type/form__input-error_type_visible.css');
@import url('__submit/form__submit.css');
@import url('__submit/_disabled/form__submit_disabled.css');
@import url('__field/form__field.css');

.form {
  display: flex;
  flex-direction: column;
  padding: 36px;
}

@media screen and (max-width: 470px) {
  .form {
    padding: 24px;
  }
}